:root {
    --bg: #EFEFEF;
    --text: #232323;
    --bg-alt: #FEFEFE;
    --accent: #a0def1;
    --accent-alt: #000000;
    --error: #9c0000;
    --light-gray: #bebebe;
    --gray: #cebfbf;
    --green: #005640;
    --placeholder: #a3a3a3;
    --border-radius: 16px;
    --font: Rubik, sans-serif
}
html {
      overflow: hidden;
      height: 100%;
      position: fixed;
}

body {
    overflow: auto;
    height: 100%;
    position: relative;
}

* {
    font-family: var(--font, sans-serif)
}