:root {
    --bg: #efefef;
    --text: #232323;
    --bg-alt: #e9f5fa;
    --accent: #0b7396;
    --accent-alt: #232323;
    --error: #9c0000;
    --light-gray: #bebebe;
    --gray: #cebfbf;
    --green: #005640;
    --placeholder: #a3a3a3;
    --border-radius: 16px;
    --font: Rubik, sans-serif
}
html {
      overflow: hidden;
      height: 100%;
      position: fixed;
}

body {
    height: 100%;
    position: relative;
}

* {
    font-family: var(--font, sans-serif)
}